---
layout: isdesigner_default
title: Information System Designer | Fonctionnalités - Analyse Métier
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Analyse Métier"                
                sub_title="Capturer les besoins métiers"
                desc="IS Designer assiste les analystes métiers dans le processus d’identification et de formalisation des besoins métiers. Une description visuelle facilite les échanges aussi bien avec les utilisateurs qu’avec les équipes de conception et de développement."
            %}
    </div>
</section>

<section id="" class="bg_lightest_grey">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Formaliser les exigences"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt="Requirements Designer"
            lnk_href=""
            lnk_target=""
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-2"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Spécifier les cas d'utilisation"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt="Graal Designer"
            lnk_href="self"
            lnk_target="self"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-1"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="" class="bg_lightest_grey">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Identifier les entités métier"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt="Entity Designer"
            lnk_href=""
            lnk_target="self"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-2"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Maquetter les IHM"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt="Cinematic Designer"
            lnk_href=""
            lnk_target="self"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-1"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="" class="text-center">
    <div class="container">
        {% include block_heading.html
            title="Voir aussi"
            sub_title=""
            desc=""
        %}
        <div class="row align-items-center">
            <div class="col-md-4 offset-md-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p><a href="http://www.obeosoft.com" title="Logo Obeo" target="_blank"><img src="{{  site.isdesigner_baseurl }}/common_assets/images/logos/logo_obeo.png"></a></p>
                <h4>Conception front-end</h4>
                <p>Concevoir l’architecture et garantir la cohérence globale du système</p>
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p><a href="https://www.thalesgroup.com/en" title="Logo Thales" target="_blank"><img src="{{  site.isdesigner_baseurl }}/common_assets/images/logos/logo_sirius.png"></a></p>
                <h4>Conception back-end</h4>
                <p>Réaliser une conception détaillée et automatiser certaines tâches répétitives</p>
            </div>
        </div>
    </div>       
</section>