---
layout: isdesigner_default
title: Information System Designer | Fonctionnalités - Vue d'ensemble
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Fonctionnalités"                
                sub_title="Un atelier de modélisation complet<br>pour concevoir vos applications de gestion"
                desc="IS Designer fournit un atelier de modélisation graphique et collaboratif qui couvre l’ensemble des besoins d’analyse et<br>de conception d’applications de gestion : de la structure et de la cinématique des écrans jusqu’à la base de données, en passant par la couche de services et les objets métiers"
            %}
    </div>
</section>

<section id="" class="bg_lightest_grey">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Intégration des applications et bases de données existantes"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Représentation visuelle"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-1"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="" class="bg_lightest_grey">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Génération documentaire"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Génération automatique de code"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt="Générateurs de code"
            lnk_href=""
            lnk_target="blank"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-1"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="" class="bg_lightest_grey">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Travail collaboratif"                
            desc="<p>Compatible avec <a href=\" \">Obeo Designer Team</a>, Information System Designer peut être utilisé pour travailler à plusieurs simultanément sur les mêmes modèles, sans passer par un partage fastidieux et risqué de fichiers XMI :</p><ul><li>stockage des modèles sur un serveur partagé,</li><li>verrouillage automatique des éléments en cours de modification,</li><li>libération automatique des verrous après la sauvegarde des modifications,</li><li>rafraîchissement instantané des modèles permettant à chaque utilisateur de toujours travailler sur une version à jour.</li></ul>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Solution Open Source"                
            desc="<p>Créée avec <a href=\" \">Eclipse Sirius</a>, Information System Designer est une solution open source qui peut facilement être adaptée ou étendue pour correspondre plus précisément à vos besoins :</p><ul><li>génération pour d'autres langages ou frameworks, ajout d'autres langages visuels, basés sur des notations graphiques différentes,</li><li>intégration avec vos propres plug-ins,</li><li>modification du workflow pour supporter votre processus de développement.</li></ul>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-1"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="" class="bg_lightest_grey">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Pourquoi pas UML"                
            desc="<p>Plutôt que le langage de modélisation UML (Unified Modeling Language), Information System Designer utilise un DSL (Domain Specific Language) dédié aux différents besoins auxquels répond l’atelier.</p><p>L’utilisation d’UML aurait nécessité d’étendre ce langage (définition de stéréotypes, de tagged-values et de règles de modélisation) qui complexifient l’activité d’analyse et de conception.</p><p>Au contraire, le DSL proposé par Information System Designer a été conçu spécialement pour cet atelier pour faciliter l’expression de chacun des domaines d’une application (interactions, services, bases de données, IHM, etc).</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>