---
layout: isdesigner_default
title: Information System Designer | Fonctionnalités - Graal Designer
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Graal Designer"                
                sub_title="Modéliser les besoins utilisateurs"
                desc="Graal Designer permet de modéliser précisément les scénarios d’usage d’une application, ainsi que les interactions avec les différents types d’utilisateurs."
            %}
    </div>
</section>

<section id="" class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title=""                
            sub_title=""
            desc=""
        %}

    <div class="row">
        {% include block_cols.html
            col="3"
            icon_name="far fa-file-alt"
            icon_color="txt_indigo"
            title="Meilleure réponse aux besoins utilisateurs" 
            desc="Une <a href=\"\">analyse métier</a> plus efficace permet de produire une application en phase avec les attentes des utilisateurs"
            href=""
            link_txt=""
            href_icon=""
        %}
        {% include block_cols.html
            col="3"
            icon_name="far fa-file-alt"
            icon_color="txt_indigo"
            title="Approche visuelle et innovante" 
            desc="Une schéma vaut mieux qu'un long discours : les diagrammes permettent de mieux réfléchir en restant focalisé sur l'essentiel."
            href=""
            target="_blank"
            link_txt=""
            href_icon=""
        %}
        {% include block_cols.html
            col="3"
            icon_name="far fa-file-alt"
            icon_color="txt_indigo"
            title="Spécifications précises et fiables" 
            desc="A chaque sprint, les user stories sont actualisées dans un format structuré pour une meilleure maîtrise des spécifications"
            href=""
            target="_blank"
            link_txt=""
            href_icon=""
        %}
        {% include block_cols.html
            col="3"
            icon_name="far fa-file-alt"
            icon_color="txt_indigo"
            title="Collaboration entre analystes et concepteurs" 
            desc="Les analystes métiers et les concepteurs (front-end et back-end) collaborent sur une vision partagée de l’application"
            href="http://www.eclipse.org/sirius/doc/"
            link_txt=""
            href_icon=""
        %}
    </div>
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Modéliser les use-cases et les acteurs"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/graal/usecase_acteurs.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Décomposer les use-cases en tâches"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/graal/taches.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Modéliser les interactions système/utilisateur"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/graal/interactions.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Modéliser les user-stories"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target="blank"
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/graal/user_stories.png"
            img_title="Information System Designer - Modéliser les user-stories"
        %}
    </div>
</section>

<section id="" class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title="Ressources pour démarrer"
            sub_title=""
            desc=""
        %}
        <div class="row align-items-center">
            <div class="col-md-4 offset-md-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p><a href="http://www.obeosoft.com" title="Logo Obeo" target="_blank"><i class="far fa-file-alt fa-7x"></i></a></p>
                <p>Documentation</p>
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p><a href="https://www.thalesgroup.com/en" title="Logo Thales" target="_blank"><i class="fas fa-download fa-7x"></i></a></p>
                <p>Téléchargement</p>
            </div>
        </div>
    </div>       
</section>

