---
layout: isdesigner_default
title: Information System Designer | Fonctionnalités - Service Oriented Architecture Designer
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Service Oriented Architecture Designer"                
                sub_title="Lorem Ipsum"
                desc="Lorem Ipsum"
            %}
    </div>
</section>

<section id="" class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title=""                
            sub_title=""
            desc=""
        %}

    <div class="row">
        {% include block_cols.html
            col="3"
            icon_name="far fa-file-alt"
            icon_color="txt_indigo"
            title="Meilleure réponse aux besoins utilisateurs" 
            desc="Une <a href=\"\">analyse métier</a> plus efficace permet de produire une application en phase avec les attentes des utilisateurs"
            href=""
            link_txt=""
            href_icon=""
        %}
        {% include block_cols.html
            col="3"
            icon_name="far fa-file-alt"
            icon_color="txt_indigo"
            title="Approche visuelle et innovante" 
            desc="Une schéma vaut mieux qu'un long discours : les diagrammes permettent de mieux réfléchir en restant focalisé sur l'essentiel."
            href=""
            target="_blank"
            link_txt=""
            href_icon=""
        %}
        {% include block_cols.html
            col="3"
            icon_name="far fa-file-alt"
            icon_color="txt_indigo"
            title="Spécifications précises et fiables" 
            desc="A chaque sprint, les user stories sont actualisées dans un format structuré pour une meilleure maîtrise des spécifications"
            href=""
            target="_blank"
            link_txt=""
            href_icon=""
        %}
        {% include block_cols.html
            col="3"
            icon_name="far fa-file-alt"
            icon_color="txt_indigo"
            title="Collaboration entre analystes et concepteurs" 
            desc="Les analystes métiers et les concepteurs (front-end et back-end) collaborent sur une vision partagée de l’application"
            href="http://www.eclipse.org/sirius/doc/"
            link_txt=""
            href_icon=""
        %}
    </div>
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Modéliser des interfaces de composants applicatifs"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/soa/interface_composants.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Rétro-modéliser des interfaces de services REST"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/soa/retromodelisation.gif"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Modéliser les liens entre composants"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/soa/liens_entre_composants.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Générer des documents OpenAPI définissant des services REST"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target="blank"
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/soa/generation_openapi.gif"
            img_title="Information System Designer - Modéliser les user-stories"
        %}
    </div>
</section>
<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Modéliser des objets métiers et des DTOs"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/soa/objets_metier_dto.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>
