---
layout: isdesigner_default
title: Information System Designer | Fonctionnalités - Vue d'ensemble
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Analyse et Conception d’applications"                
                sub_title="Identifier les besoins des utilisateurs et concevoir la solution"
                desc="Dans le processus de développement d’une application, Information System Designer s’adresse principalement aux <a href=\"\">analystes métier</a> et aux concepteurs applicatifs (<a href=\"\">front-end</a> et <a href=\"\">back-end</a>).  Elle leur permet de spécifier ensemble l’application à développer et de mieux la partager avec les <a href=\"\">architectes applicatifs</a>, les <a href=\"\">développeurs</a> et les <a href=\"\">Ops</a> en charge du déploiement."

                img_src="images/illustrations/sirius-overview.png"
                img_title="Information System Designer - What is Information System Designer?"
                img_class=""

            %}
    </div>
</section>

<section id="" class="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Analyse Métier"                
            desc="<p>Information System Designer assiste les analystes métiers dans le processus d’identification et de formalisation des besoins métiers :<ul><li>Formaliser les exigences</li><li>Spécifier les cas d’utilisation</li><li>Identifier les entités métier</li><li>Maquetter les IHM</li></ul></p><p>Une description visuelle facilite les échanges aussi bien avec les utilisateurs qu’avec les équipes de conception et de développement.</p>"
        
            lnk_txt="En savoir plus"
            lnk_href=""
            lnk_target="blank"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-2"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Conception Front-end"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt="En savoir plus"
            lnk_href=""
            lnk_target="blank"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-1"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Conception Back-end"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt="En savoir plus"
            lnk_href=""
            lnk_target="blank"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-2"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="" class="bg_lightest_grey">
    <div class="container text-center">
            {% include block_heading.html
                title="Autres activités IT"                
                sub_title=""
                desc=""
            %}
    </div>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Architecture Applicative"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt="Obeo SmartEA"
            lnk_href=""
            lnk_target="blank"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-2"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Dev"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt="Générateurs de code"
            lnk_href=""
            lnk_target="blank"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-1"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Ops"                
            desc="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target="blank"
            lnk_icon=""

            img_order="order-2"
            img_src="images/illustrations/sirius-overview.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>